/* Universals */
h1 {
    font-size: 50px;
}

span {
    color: orange;
}

p {
    text-align: justify;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Universals */



/* banner area starts */
.banner-section {
    display: flex;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.banner-text {
    width: 50%;
    margin-left: 5%;
    margin-top: 1%;
}

.banner-img {
    width: 50%;
    margin-left: 5%;
    margin-top: 1%;
}

.banner-img img {
    width: 80%;
}

.hire-me-btn {
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(224, 150, 137));
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}

.hire-me-btn:hover {
    box-shadow: 5px 5px 25px black;
}

/* banner area ends */



/* dream-big-area starts */
.dream-big-area {
    display: flex;
    margin-bottom: 150px;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.dream-big-text .dream-h2 {
    font-size: 40px;
}

.dream-big-img {
    width: 50%;
    margin-left: 5%;
}

.dream-big-img img {
    width: 80%;
}

.dream-big-text {
    width: 50%;
    margin-left: 5%;
    margin-right: 10%;
}

/* dream-big-area ends */