/* Universals */
h1 {
    font-size: 60px;
}

span {
    color: orange;
}

p {
    text-align: justify;
    font-size: 20px;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Universals */



/* banner area starts */
.banner-section {
    display: flex;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.banner-text {
    width: 50%;
    margin-left: 5%;
    margin-top: 1%;
}

.banner-text h3 {
    font-size: 28px;
}

.banner-img {
    width: 50%;
    margin-left: 5%;
    margin-top: 1%;
}

.banner-img img {
    width: 80%;
}

.hire-me-btn {
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(224, 150, 137));
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}

.hire-me-btn:hover {
    box-shadow: 5px 5px 25px black;
}

/* banner area ends */



/* dream-big-area starts */
.dream-big-area {
    display: flex;
    margin-bottom: 150px;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.dream-big-text .dream-h2 {
    font-size: 40px;
}

.dream-big-img {
    width: 50%;
    margin-left: 5%;
}

.dream-big-img img {
    width: 80%;
}

.dream-big-text {
    width: 50%;
    margin-left: 5%;
    margin-right: 10%;
}

/* dream-big-area ends */



/* experience starts */
.experience-area {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-bottom: 150px;
}

.exp-h2 {
    font-size: 48px;
    margin-left: 2%;
}

.cards {
    display: flex;
}

.crd-h2 {
    font-size: 40px;
}

.crd-h3 {
    font-size: 30px;
}

.card1 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px gray;
    padding: 15px;
    border-radius: 5px;
    border-top: solid 7px blue;
    padding-bottom: 50px;
}

.card2 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px gray;
    padding: 15px;
    border-radius: 5px;
    border-top: solid 7px tomato;
    padding-bottom: 50px;
}

/* experience endss */



footer {
    font-size: 20px;
    text-align: center;
}